.mat-toolbar{
    background: rgba(0,0,0,0.2);
    color: white;
    // text-shadow: 1px 2px 5px black;
    font-family: monospace;
    text-transform: uppercase;
    position: relative;
    h1{
        text-align: center;
        width: 100%;
    }
}


.container{
    padding: 5px 15px;
    color: white;
    text-align: center;
}
h4{
   
    font-weight: lighter;
}

.list-item{
    width: 100%
}

 