<mat-toolbar   [class.mat-elevation-z2]="true">
  <mat-toolbar-row>
    <h1>Amigo secreto</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-spinner *ngIf="isLoading" color="primary" class="initial-spinner"></mat-spinner>

<div class="container" id="div-1-welcome">


</div>

<div class="container" id="div-2-howareyou">

  <h4>Antes de comenzar es necesario reconocerte</h4>
    <h2>¿Quién eres?</h2>
 
    <button *ngFor="let user of users" class="list-item" mat-raised-button [disabled]="user.created || user.friendId">
        {{user.userName}}
    </button>
</div>

<div id="div-3-choosingfriend">


</div>

<div id="div-4-yourfriend">


</div>


<router-outlet></router-outlet>
