.mat-toolbar{
    background: rgba(0,0,0,0.2);
    color: white;
    font-family: monospace;
    text-transform: uppercase;
    position: relative;
    h1{
        text-align: center;
        width: 100%;
    }
} 
.container{
    padding: 5px 15px;
    color: white;
    text-align: center;

    .interval {
        font-size: 110px;
        color: #f1c40f;
    } 
     .secretfriend{
        font-size: 50px
    } 
}
h4{
   
    font-weight: lighter;
}

.list-item{
    width: 100%;
    text-transform: uppercase;
    margin: 7px 0px;
}


.initial-spinner{ 
    position: absolute;
    left: 50%;
    margin-left: -4em;
    top: 40%;
  }
 