<mat-toolbar   [class.mat-elevation-z2]="true">
  <mat-toolbar-row>
    <h1>Amigo secreto</h1>
  </mat-toolbar-row>
</mat-toolbar>



<div class="container" id="div-1-welcome">


</div>

<div class="container" id="div-2-howareyou">

  <h4>Antes de comenzar es necesario reconocerte</h4>
    <h2>¿Quién eres?</h2>
    <mat-nav-list>
        <mat-list-item > 
            <button class="list-item" mat-raised-button disabled>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button disabled>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
        <mat-list-item > 
            <button class="list-item" mat-raised-button>ANDRÉS LONDONO</button>
        </mat-list-item> 
      </mat-nav-list> 
</div>

<div id="div-3-choosingfriend">


</div>

<div id="div-4-yourfriend">


</div>


<router-outlet></router-outlet>
